# app version
APP_VERSION=app_version

# bot
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# db
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port

# amqp
AMQP_USER=amqp_user
AMQP_PASSWORD=amqp_password
AMQP_HOST=amqp_host
AMQP_PORT=amqp_port
AMQP_VHOST=amqp_vhost